{% extends "base.html" %}
{% block title %}Blog - {{ article.title }}{% endblock %}

{% block content %}
    {% if article.status == "Published"%}
        <article id="blog-article">
            <h2>{{ article.title | title }}</h2>
            <p>{{ article.body | linebreaks }}</p>
            <div class="article-footer">
                <span>By: {{ article.author }}</span>
                <span>in
                <a href="{% url 'articles:category_detail' slug=article.category.slug %}">{{ article.category }}</a>
            </span>
                <span>| Published: {{ article.updated }}</span>
            </div>
        </article>
    {% endif %}
{% endblock %}